#build --local_resources 50000,16,1000
--watchfs

#build build --spawn_strategy=linux-sandbox
#build --experimental_sandbox_default_allow_network=false
#build --experimental_sandbox_base=/dev/shm/
#build --sandbox_fake_hostname=true
#build --sandbox_fake_username=true

#build --disk_cache=~/.cache/bazel_disk
#build --repository_cache=~/.cache/bazel_repository
#build --experimental_repository_cache_hardlinks=true
