! Use xft for drawing fonts
urxvt.font: xft:ProFont:size=8
urxvt.boldFont:
urxvt.iconFile: /usr/share/icons/Tango/32x32/apps/gnome-terminal.png
URxvt.letterSpace:      0

! Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:     False

! The scrollbar will be nearly black
urxvt.scrollBar:            true
urxvt.scrollBar_floating:   false
urxvt.scrollBar_right:      true
urxvt.scrollColor:          #303030
urxvt.scrollstyle:          plain
urxvt.termName:             xterm
urxvt.urllauncher:          luakit
*.saveLines:            99999

! Make matcher a right-click
*matcher.button: 3

! Use no urxvt extensions
! Options are default, matcher, tabbed
urxvt.perl-ext-common:
urxvt.perl-ext: clipboard,selection,resize-font

! Custom key-bindings for resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-plus
URxvt.resize-font.reset: C-equal
URxvt.resize-font.show: C-question

*VT100*colorMode: on
*VT100*dynamicColors: on

! Theme ten obtained from http://phraktured.net/terminal-colors/
*VT100*background: rgb:1a/1a/1a
*VT100*foreground: rgb:bb/bb/bb
! black
*VT100*color0:     rgb:00/00/00
*VT100*color8:     rgb:73/73/73
! red
*VT100*color1:     rgb:98/56/5e
*VT100*color9:     rgb:cf/a3/a9
! green
*VT100*color2:     rgb:66/82/5d
*VT100*color10:    rgb:ca/f7/bb
! brown/yellow
*VT100*color3:     rgb:96/91/76
*VT100*color11:    rgb:ff/f8/bc
! blue
*VT100*color4:     rgb:4d/65/85
*VT100*color12:    rgb:83/a3/be
! magenta
*VT100*color5:     rgb:96/73/95
*VT100*color13:    rgb:bb/a9/cf
! cyan
*VT100*color6:     rgb:5f/7f/7b
*VT100*color14:    rgb:96/cc/cc
! white
*VT100*color7:     rgb:b3/b3/b3
*VT100*color15:    rgb:ff/ff/ff

! Theme ten obtained from http://phraktured.net/terminal-colors/
*background: rgb:1a/1a/1a
*foreground: rgb:bb/bb/bb
! black
*color0:     rgb:00/00/00
*color8:     rgb:73/73/73
! red
*color1:     rgb:98/56/5e
*color9:     rgb:cf/a3/a9
! green
*color2:     rgb:66/82/5d
*color10:    rgb:ca/f7/bb
! brown/yellow
*color3:     rgb:96/91/76
*color11:    rgb:ff/f8/bc
! blue
*color4:     rgb:4d/65/85
*color12:    rgb:83/a3/be
! magenta
*color5:     rgb:96/73/95
*color13:    rgb:bb/a9/cf
! cyan
*color6:     rgb:5f/7f/7b
*color14:    rgb:96/cc/cc
! white
*color7:     rgb:b3/b3/b3
*color15:    rgb:ff/ff/ff

! This makes it easier to see which window is currently focused
*fading: 10
*fadeColor: rgb:1d/2b/3a

! Cursor settings
*cursorColor: #787878
*cursorBlink: False

! Change default window size to 80x26 instead of 80x24
! This is largely a change to accomodate tmux and a qemu
! ncurses session which seemingly expects 80x25.
urxvt*geometry: 80x26

! Prevent double-click selections from including characters generated
! by tmux and other regular utilities.
urxvt.cutchars: "()<>[]{}|│,:=*`'"

XTerm*utf8: 1
XTerm*selectToClipboard: true

! use Alt+/ to expand what you typed to anything that is visible on the screen
UXTerm*VT100.Translations: #override \n\
     Meta <Key>/:dabbrev-expand() \n\`

xscreensaver.timeout: 0:10:00
xscreensaver.lock: True
xscreensaver.lockTimeout: 0:01:00
xscreensaver.mode: blank
xscreensaver.dpmsEnabled: True
xscreensaver.dpmsSuspend: 0:20:00
xscreensaver.dpmsOff: 1:00:00

! Enable Alt-f and Alt-b in xterm
xterm*eightBitInput: false
