/.vim/.netrwhist
/.vim/bundle/docker.vim/
/.vim/bundle/moby.vim/
/.vim/vimrc.local
/.vim/session/
/.config/awesome/prefs.lua
/.bash/git-*.sh
/.bash/paths.local
/.bash/*.d/local
/.bash/aliases.d/fzf
/.bash/completion.d/fzf
/.bash/history
/.mutt/cache/
/.mutt/muttrc.local
/.mutt/*.gpg
/.tmux/resurrect/
/.fonts/fonts.dir
/.jira.d/cookies.js

# Use the specific version here so that "git status" will inform me of old
# versions lingering around.
# TODO(phil): Figure out a way to auto-remove old versions in install.py.
/tools/ripgrep-0.8.1-x86_64-unknown-linux-musl/
