/.vim/.netrwhist
/.vim/bundle/docker.vim/
/.vim/bundle/moby.vim/
/.vim/vimrc.local
/.vim/session/
/.config/awesome/prefs.lua
/.bash/git-*.sh
/.bash/paths.local
/.bash/*.d/local
/.bash/completion.d/fzf
/.bash/history
/.mutt/cache/
/.mutt/muttrc.local
/.mutt/*.gpg
/.fonts/fonts.dir
/.jira.d/cookies.js
