# Use tab to cycle through completion options. Shift-tab to go backwards.
TAB: menu-complete
"\e[Z": menu-complete-backward

# Display a list of choices that match the given prefix before cycling through
# the choices.
set menu-complete-display-prefix on
set show-all-if-ambiguous on

# Enable colors when completing filenames and directories.
set colored-stats on

# Highlight the common matching prefix in color.
# Only available in bash 4.4 and readline 7.0.
# set colored-completion-prefix on

# Ignore case when completing.
set completion-ignore-case on
# Treat hyphens as underscores.
# TODO(phil): Figure out a better way to use this. At the moment it's very
# annoying.
#set completion-map-case on

# Never ask for completion items and just list them all.
set completion-query-items -1
set page-completions off

# Don't complete items if they're already there. Just skip to what we already
# have.
set skip-completed-text on

# Allow me to jump forward/backwards by whitespace delimiters.
"\e\C-f": shell-forward-word
"\e\C-b": shell-backward-word
