#!/usr/bin/env bash

# Exit prematurely if this file has already been executed.
if ((XPROFILE_IS_SOURCED == 1)); then
  return 0 2>/dev/null || exit 0
fi

# Set up all the X resources: colors, etc...
xrdb -merge "$HOME/.Xresources"

# Start up the necessary daemons.
urxvtd -o -f -q
xscreensaver -no-splash &
autocutsel -selection PRIMARY -fork

# Set caps-lock as another left-Control key.
setxkbmap -option ctrl:nocaps

# Turn off scrolling momentum.
synclient CoastingSpeed=0

# For computer-specific customiziations, put your settings in a file called
# ~/.xprofile.local and mark it executable.
# Some examples of what you could put in there:
#   setxkbmap -option altwin:swap_alt_win
#   synclient TapButton1=1
#   synclient TapButton2=3
#   synclient TapButton3=2
#   synclient ClickFinger1=1
#   synclient ClickFinger2=3
#   synclient ClickFinger3=2
#   synclient VertScrollDelta=-237
#   synclient HorizScrollDelta=-237
[ -x "$HOME/.xprofile.local" ] && "$HOME/.xprofile.local"

export XPROFILE_IS_SOURCED=1
