#!/usr/bin/env bash

# Exit prematurely if this file has already been executed.
# Use string comparison here to avoid undefined variable errors the first time
# this script gets executed.
if [[ "${XPROFILE_IS_SOURCED:-0}" == 1 ]]; then
  return 0 2>/dev/null || exit 0
fi

# Make sure the window manager has access to my local tools.
export PATH="$HOME/.bin:$PATH"

# Set up all the X resources: colors, etc...
xrdb -merge "$HOME/.Xresources"

# Start up the necessary daemons.
urxvtd -o -f -q
xscreensaver -no-splash &
autocutsel -selection PRIMARY -buttonup -fork
autocutsel -selection CLIPBOARD -buttonup -fork

# Set caps-lock as another left-Control key.
setxkbmap -option ctrl:nocaps

# Turn off scrolling momentum.
synclient CoastingSpeed=0

# Put computer-specific customiziations in ~/.xprofile.local.
[ -x "$HOME/.xprofile.local" ] && "$HOME/.xprofile.local"

export XPROFILE_IS_SOURCED=1
