snippet # "Insert a number 1 heading" b
$1
================================================================================
$2
endsnippet

snippet ## "Insert a number 2 heading" b
$1
--------------------------------------------------------------------------------
$2
endsnippet
