# Extra space for docker to work with.

[Unit]
Before=local-fs.target

[Mount]
What=/data/docker
Where=/var/lib/docker
Type=none
Options=defaults,bind

[Install]
WantedBy=local-fs.target
