snippet todo "Add a TODO" b
// TODO(${2:`whoami`}): ${1:Implement this.}
endsnippet

snippet "// todo" "Add a TODO" b
// TODO(${2:`whoami`}): ${1:Implement this.}
endsnippet

snippet aurora "Add Aurora copyright" b
// Aurora Innovation, Inc. Proprietary and Confidential. Copyright `!v strftime("%Y")`

$1
endsnippet
