snippet todo "Add a TODO" b
# TODO(${2:`whoami`}): ${1:Implement this}
endsnippet

snippet peloton "Add the Peloton copyright header" b
# Copyright (C) `!v strftime("%Y")` Peloton Technology, Inc. - All Rights Reserved
# Author: Philipp Schrader (philipp@peloton-tech.com)


endsnippet

snippet bash "Add bash shebang" b
#!/bin/bash

endsnippet

snippet set "Adds my favourite options" b
set -e
set -u
set -o pipefail


endsnippet
