snippet todo "Add a TODO" b
# TODO(`whoami`): ${1:Implement this}
endsnippet

snippet peloton "Add the Peloton copyright header" b
# Copyright (C) `!v strftime("%Y")` Peloton Technology, Inc. - All Rights Reserved
# Author: Philipp Schrader (philipp@peloton-tech.com)

endsnippet
