snippet todo "Add a TODO" b
# TODO(${2:`whoami`}): ${1:Implement this}
endsnippet

snippet "# todo" "Add a TODO" b
# TODO(${2:`whoami`}): ${1:Implement this}
endsnippet

snippet aurora "Add the Aurora copyright header" b
# Aurora Innovation, Inc. Proprietary and Confidential. Copyright `!v strftime("%Y")`

$1
endsnippet

snippet bash "Add bash shebang" b
#!/bin/bash

endsnippet

snippet set "Adds my favourite options" b
set -o errexit
set -o nounset
set -o pipefail


endsnippet
